html, body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: url('./res/bg.png');
}

.switcher-large-text {
    font-size: 18px;
}

#main {
    min-height: 100vh;
}